body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #121212 !important;
  color: #b1b1b1 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar-bg-dark {
  background-color: #070707;
}

.navbar-nav > li > .dropdown-menu {
  background-color: #070707;
}

.center {
  text-align: center;
  justify-content: center;
  align-content: center;
}

.center-margin {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.frame-fashion {
  width: "100%";
  height: "100%";
  object-fit: "cover";
  overflow: "hidden";
}
