.navbar-bg-dark {
  background-color: $scheme-secondary;
}

.navbar-nav > li > .dropdown-menu {
  background-color: $scheme-secondary;
}

.nav-link {
  color: $scheme-text !important;
}

.navbar-brand {
  color: $scheme-others !important;
}
