.navbar-bg-dark {
  background-color: $scheme-secondary;
}

.navbar-nav > li > .dropdown-menu {
  background-color: $scheme-secondary;
}

.nav-link {
  color: $scheme-text !important;
}

.navbar-brand {
  color: $scheme-others !important;
}

.navbar-toggler {
  position: absolute;
  left: 0;
  margin-left: 5%;
}

.navbar-logo {
  width: 50px;
  height: 40px;
}
